/target/
/bin/

.idea/
*.iml
*.iws

.metadata/
.plugins/
.project
.settings/
.apt_generated/
.factorypath/

.vscode/

mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

*.log
logs/

*.tmp
*.bak
*~
*.swp
*.swo
.DS_Store

*.exe
*.out

k8s/secrets.yaml